{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}

{% block content %}

<div class="main">
        <div class="greeting">
            <h1>Welcome back {{ current_user.name }}</h1>
 </div>
 <div class="btns">
<div class="btn-group-vertical">
    <a class="btn btnA" href="{{ url_for('main.add_new_task') }}">Add Task</a>
<a class="btn btnB" href="{{ url_for('main.add_new_project') }}"> Create Project</a>
</div>
</div>

<div class="card">
    <div class="card-body" id="first">
        <div class="number">{{ data }}</div>
         <div class="title">Total Projects</div>
    </div>
    <div class="card-body" id="second">
        <div class="number">{{ data1 }}</div>
        <div class="title">To Do Tasks</div>
    </div>
    <div class="card-body" id="third">
        <div class="number">2</div>
        <div class="title">Completed Tasks</div>
    </div>
    <div class="card-body" id="last">
        <div class="number">3</div>
        <div class="title">Overdue Tasks</div>
    </div>
</div>

    <div class="tableContent">
    <h3>Tasks due today</h3>
    <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Task</th>
      <th scope="col">Project</th>
      <th scope="col">Priority</th>
      <th scope="col">Status</th>
      <th scope="col">Due Date</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
  {% for task in dashboard_table %}
    <tr>
      <td>{{ task.title }}</td>
      <td>{{ task.project.title }}</td>
      <td>{{ task.status }}</td>
      <td>{{ task.priority }}</td>
        <td>{{ task.due_date }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>

</div>

{% endblock %}