{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}

{% block content %}
{% set status_map = {
    'todo': 'Todo',
    'in_progress': 'In Progress',
    'done': 'Completed'
} %}
<div class="main">
        <div class="greeting">
            <h1>Welcome back {{ current_user.name }}</h1>
 </div>
 <div class="project-action-buttons">
<div class="btn-group-vertical">
    <a class="btn btn-task-action" href="{{ url_for('main.add_new_task') }}">Add Task</a>
    <a class="btn create-project-btn" href="{{ url_for('main.add_new_project') }}">Create Project</a>
</div>
</div>

<div class="card">
    <div class="card-body" id="first-summary">
        <div class="title">Total Projects</div>
        <div class="number">{{ data }}</div>
    </div>
    <div class="card-body" id="second-summary">
        <div class="title">To Do Tasks</div>
        <div class="number">{{ data1 }}</div>
    </div>
    <div class="card-body" id="third-summary">
         <div class="title">Completed Tasks</div>
        <div class="number">{{ data2 }}</div>
    </div>
    <div class="card-body" id="last-summary">
        <div class="title">Overdue Tasks</div>
        <div class="number">{{ data3 }}</div>
    </div>
</div>

    <div class="tableContent">
    <h3>Tasks due today</h3>
        {% if dashboard_table: %}
    <table class="table table-hover" id="current-tasks-table">
  <thead>
    <tr>
      <th scope="col">Task</th>
      <th scope="col">Project</th>
      <th scope="col">Status</th>
      <th scope="col">Priority</th>
      <th scope="col">Due Date</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
  {% for task in dashboard_table %}
    <tr>
      <td>{{ task.title }}</td>
      <td>{{ task.project.title }}</td>
      <td><span class="badge
    {% if task.status == 'todo' %}badge-todo
    {% elif task.status == 'in_progress' %}badge-progress
    {% elif task.status == 'done' %}badge-completed
    {% endif %}">{{ status_map.get(task.status, task.status) }}</span></td>
      <td><span class="badge
    {% if task.priority == 'low' %}badge-low
    {% elif task.priority == 'medium' %}badge-medium
    {% elif task.priority == 'high' %}badge-high
    {% endif %}">{{ task.priority }}</span></td>
        <td>{{ task.due_date }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
        {% else %}
<div class="empty-state">
    <p class="empty-title">No tasks yet</p>
</div>
{% endif %}
</div>

</div>

{% endblock %}