{% extends 'base.html' %}
{% block title %}New Project{% endblock %}

{% block content %}
<div class="main">
  <div class="flex-container2">
      {% if is_Edit: %}
      <h1>Edit Task</h1>
      {% else: %}
            <h1>New Task</h1>
      {% endif %}

      {% if is_Edit: %}
      <form class="box" action="{{ url_for('main.edit_task', task_id=task.id) }}" method="POST">
          {% else: %}
       <form class="box" action="{{ url_for('main.add_new_task') }}" method="POST">
           {% endif %}
           {{ form.hidden_tag() }}
           <div class="field">
               {{ form.title.label(class="form-label") }}
               {{ form.title(class="form-control", id="title-field") }}
           </div>
           <div class="field">
               {{ form.description.label(class="form-label") }}
               {{ form.description(class="form-control", id="description-field") }}
           </div>
           <div class="field">
               {{ form.status.label(class="form-label") }}
               {{ form.status(class="form-control", id="status-field") }}
           </div>
           <div class="field">
               {{ form.priority.label(class="form-label") }}
               {{ form.priority(class="form-control", id="priority-field") }}
           </div>
           <div class="field">
               {{ form.due_date.label(class="form-label") }}
               {{ form.due_date(class="form-control", id="date-field") }}
           </div>
           <div class="field">
               {{ form.project_id(class="form-label") }}
               {{ form.project_id(class="form-control", id="id-field") }}
           </div>

           <div class="field">
               {{ form.submit(class="btn btn-primary btn2 mb-3") }}
           </div>

       </form>



  </div>

</div>

{% endblock %}