{% extends 'base.html' %}
{% block title %}New Project{% endblock %}

{% block content %}
<div class="main">
        <div class="flex-container1">
            {% if is_Edit: %}
            <h1>Edit project</h1>
            <form class="box" action="{{ url_for('main.edit_project', project_id=project_id) }}" method="POST">
            {% else: %}
            <h1>New project</h1>
                <form class="box" action="{{ url_for('main.add_new_project') }}" method="POST">
            {% endif %}
            {{ form.hidden_tag() }}
 <div class="mb-3">
     {{ form.title.label(class="form-label") }}
     {{ form.title(class="form-control", id="title-form-control") }}
</div>
<div class="mb-3">
    <label class="form-label">Project owner</label>
    <input class="form-control" type="text" placeholder="{{ current_user.name }}" aria-label="Disabled input example" disabled>
</div>
<div class="mb-3">
    {{ form.description.label(class="form-label") }}
     {{ form.description (class="form-control", id="description-form-control") }}
  </div>
  <div class="mb-3">
       {{ form.submit(class="btn btn-primary btn-submit mb-3") }}
</div></form>
</div>
</div>


{% endblock %}