{% extends 'base.html' %}
{% block title %}Project{% endblock %}

{% block content %}
<div class="main">
<div class="project-content">
    <div class="project-header">
        <div class="project-header-left">
        <h2 class="project-title">{{ project.title }}</h2>
        {{ project.description }}
        </div>
        <div class="project-header-right">
        <a class="btn add-task-btn">Add Task</a>
        <a class="btn edit-project-btn" href="{{ url_for('main.edit_project', project_id=project.id) }}">Edit Project</a>
        </div>
    </div>
    <div class="project-summary">
        <div class="summary-cards-row">
            <div class="summary-card" id="summary1">
                <div class="card-label">Total Tasks</div>
                <div class="specific-number">{{ data1 }}</div>
            </div>
            <div class="summary-card" id="summary2">
                <div class="card-label">Todo Tasks</div>
                <div class="specific-number">{{ data2 }}</div>
            </div>
            <div class="summary-card" id="summary3">
                <div class="card-label">In Progress Tasks</div>
                <div class="specific-number">{{ data3 }}</div>
            </div>
            <div class="summary-card" id="summary4">
                <div class="card-label">Completed Tasks</div>
                <div class="specific-number">{{ data4 }}</div>
            </div>
            <div class="summary-card" id="summary5">
                <div class="card-label">Overdue Tasks</div>
                <div class="specific-number">{{ data5 }}</div>
            </div>
        </div>

    </div>
    <div class="project-tasks">

        <div class="filter-content">
            <h4>Project Tasks</h4>
            <div class="filters">
        <input type="search" placeholder="Search by title..." class="filter-task" id="searchInput" onkeyup="searchItems()">
        <div class="filter-dropdown">
        <button type="button" class="dropbtn" data-value="all" id="statusFilter">Status</button>
        <div id="status-dropdown" class="dropdown-content">
    <a href="#" data-value="all">All statuses</a>
    <a href="#" data-value="todo">Todo</a>
    <a href="#" data-value="in progress">In Progress</a>
    <a href="#" data-value="completed">Completed</a>
        </div></div>

        <div class="filter-dropdown">
        <button type="button" class="dropbtn" id="priorityFilter" data-value="all">Priority</button>
        <div id="priority-dropdown" class="dropdown-content">
    <a href="#" data-value="all">All priorities</a>
    <a href="#" data-value="low">Low</a>
    <a href="#" data-value="medium">Medium</a>
    <a href="#" data-value="high">High</a>
        </div></div></div>
</div>
        <table id="project-table">
    <thead>
        <tr class="header">
          <th scope="col">#</th>
          <th scope="col">Task</th>
          <th scope="col">Status</th>
            <th scope="col">Priority</th>
            <th scope="col">Due Date</th>
            <th scope="col">Assigned To</th>
            <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
      {% for task in project.tasks %}
        <tr>
          <th scope="row">{{ loop.index }}</th>
          <td class="task-title">{{ task.title }}</td>
          <td class="task-status">{{ task.status }}</td>
            <td class="task-priority">{{ task.priority }}</td>
            <td class="task-date">{{ task.due_date }}</td>
            <td class="task-owner">{{ task.owner.name }}</td>
            <td class="task-actions">View/Edit/<a href="{{ url_for('main.delete_task', task_id=task.id) }}" onclick="return confirmDelete()">🗑</a></td>
        </tr>
    {% endfor %}
      </tbody>
    </table>
        <div id="noResultsMessage">
    No matching tasks found
</div>
    </div>
</div>
</div>

{% endblock %}




